@import "compass";
@import "compass/reset";

body {
  background: #eee;
  font-family: Georgia, Times, serif;
}

header {
  @include clearfix;
  @include background-image(linear-gradient(#777, #666 47%,#555 53%,#444));
  @include single-box-shadow;
  border: 1px solid #bbb {
    bottom: 1px solid #999;}
  #controls {
    height: 61px;
    width: 155px;
    margin: 0 auto;}
  button {
    float:left;
    border: 0;
    background: url("/controls.png") no-repeat 0 0;
    height:61px;
    width:47px;
    cursor: pointer;
    &#play {width:57px; background-position:-47px 0;}
    &#next {background-position:-104px 0;}}
  #details {
    border: 1px solid #666;
    @include border-radius(4px, 4px);
    @include background-image(linear-gradient(#e0f7e2 45%,#d9f0db 55%));
    @include single-box-shadow;
    position: relative;
    height: 40px;
    margin: 10px;
    font-size: 10px;
    dt, dd {
      position: absolute;
      width: 33%;
      top: 5px;
      text-indent: 5px;
      @include ellipsis;}
    dd {
      top: 20px;}
    @for $i from 1 through 4 {
      dt:nth-of-type(#{$i}), dd:nth-of-type(#{$i}){
        left: ( $i - 1 ) * 33.3%;}}}}


//#player li.shuffle a {width:49px; background: url("../images/shuffel.png") no-repeat 0 0;}
@mixin button-hover {
  text-shadow: 0 1px 0 #eee;
  color:#000;
  background-color:#FFF;
  line-height:30px;
  border-bottom: 1px solid #ccc;
  cursor:pointer;
  &:hover {
    color:#FFFFFF;
    @include background-image(linear-gradient(#eee,#ccc));}}

nav {
  height: 30px;
  ul li {
    display: inline;}
  a {
    @include button-hover;
    width: 33.3333%;
    text-align: center;
    float: left;}
}
section {
  //position: absolute;
  //top: 160px;
  //bottom: 0;
  //width: 100%;
  //overflow-y: scroll;
  //-webkit-overflow-scrolling: touch;
  @include transition(all 1.0s ease-in-out);
  opacity: 0;
  display: none;

  &:target, &:active, &.active {
    opacity: 1;
    display:block;
    z-index: 1;}

  h2 {
    padding: 10px}
  ul, ol {
    @include border-radius(9px, 9px);
    margin: 0 10px 10px;
    overflow: hidden;
    li {
      padding-left:10px;
      @include ellipsis;
      @include button-hover;
      span {
        display: inline-block;
        @include ellipsis;
        width: 33.333%}}}
  .album {
    h2 {
      cursor: pointer }}
}
